.card-central{
    
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
}

mat-toolbar{
        position: fixed;
        background: black;
        color: white;;
}

mat-card {
        height: 75%;
        width: 80%;
}
